#app {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
}

.text-color {
  color: aliceblue;
  font-size: 40px;
}

.top-left-button {
  align-items: center;
  top: 0;
  left: 0;
  color: black;
  font-size: 20px;
}